@page
@model AnimalsModel
@{
    ViewData["Title"] = "Tech with a mind";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="keywords" content="cartheur, wireless power, iCybie, wireless energy transfer, electric mobility, animals, tucker" />
    <meta name="description" content="cartheur: Research, development, and promulgation of innovative designs." />
    <meta name="author" content="Dr. Christopher A. Tucker" />
    <meta name="copyright" content="(c) 2018 Cartheur" />
    <meta charset="utf-8" />
    <title>Tech with a mind</title>
    <link href="~/old-site/Seashell.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/old-site/Scripts/jquery.poptrox-2.0.js"></script>
    <script type="text/javascript" src="~/old-site/Scripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#gallery').poptrox();
        });
    </script>
    <link href="~/old-site/Content/css@v=FapAfZMHgYOuvRk5iw9dk7ks_DVS61diJGqOBPrqJxs1.css" rel="stylesheet"/>

    <script src="~/old-site/bundles/modernizr@v=0NY4fZYHCcchLWUGO-TPNpYjaLwfxsU-6Cx6ApuoO8Y1"></script>
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <img src="../Images/cartheur.jpg" alt="Logo" />
                </p>
            </div>
        </div>
    </header>
    <div id="body">
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>cartheur</h1>
                    <h2>Tech with a mind</h2>
                </hgroup>
                <p>Research, development, and promulgation of innovative designs.</p>
            </div>
        </section>
        <section class="content-wrapper main-content clear-fix">
            <script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments);
                    }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g;
                    m.parentNode.insertBefore(a, m);
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-41112097-2', 'cartheur.com');
                ga('send', 'pageview');
            </script>
            <table>
                <tr>
                    <td>
                        <p align="justify"><h4>An emotional robot designed to accompany humans as they navigate a frighteningly complex technological world.</h4></p>
                        <p align="justify">
                            A self-contained algorithmic interactive system in the form of an architecturally-based software program running in hardware, wetware, plush, or other physical means which would facilitate its operating characteristic designed to establish a meaningful interaction with a participant, in the form of a conversational dialogue, which could be any of, or combinations thereof, the following: Verbal, non-verbal, tactile, electromagnetic signalling, or visual communicative styles between itself and an external entity, such as a human being, an external application, or another interactive system. To ensure the detail of the interaction remains private, data and information generated during interaction is stored within the confines of the hardware's memory and software system and not exported to an external server or network. The system has the ability to be spawned, meaning that depending on the choice of set parameters and hardware implementation, the system can manifest different characteristic behaviors different from other systems spawned with other distinct parameter sets, although the system is, by definition, architecturally identical.
                        </p>
                        <p>For more information, <a href="../Content/Docs/Cartheur&#32;presents&#32;emotionally-interactive&#32;toys.pdf" target="_blank">download</a> the white paper and have a look at the toys <a href="http://emotional.toys" target="_blank">page</a>.</p>
                        <p align="justify">
                            Our US patent application has been published. Have a look at what we mean by the artificial mind by seeing US<a href="https://patents.google.com/patent/US20180204107A1/en" target="_blank">20180204107A1</a>
                        </p>
                    </td>
                </tr>
            </table>
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; 2024 - cartheur - all rights reserved</p>
            </div>
        </div>
    </footer>
    @section Scripts {
        <script type="text/javascript" src="~/old-site/Scripts/jquery.poptrox-2.0.js"></script>
        <script type="text/javascript" src="~/old-site/Scripts/jquery-1.8.3.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#gallery').poptrox();
            });
        </script>
        <script src="~/old-site/bundles/modernizr@v=0NY4fZYHCcchLWUGO-TPNpYjaLwfxsU-6Cx6ApuoO8Y1"></script>
    }
    <link href="~/old-site/Content/css@v=FapAfZMHgYOuvRk5iw9dk7ks_DVS61diJGqOBPrqJxs1.css" rel="stylesheet"/>
    <link href="~/old-site/Seashell.ico" rel="shortcut icon" type="image/x-icon" />
</body>
</html>