@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div class="container">
        <nav>
            <ul id="menu">
                <li><a asp-page="/Index">Home</a></li>
                <li><a href="~/Products/Animals.html">Animals</a></li>
                <li><a href="~/Products/Companion.html">Companions</a></li>
                <li><a href="~/Home/Services.html">iCybie</a></li>
                <li><a href="~/Home/Ip.html">IP</a></li>
                <li><a href="~/Products/Biotech.html">Biotech</a></li>
                <li><a href="~/Home/About.html">About</a></li>
            </ul>
        </nav>
    </div>
</header>

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>cartheur</h1>
                <h2></h2>
            </hgroup>
            <p></p>
        </div>
    </section>
</div>